<main>
    <nav>
        <span>
            <a href="/">
                Hodylunch
            </a>
        </span>
        <ul>
            <li>
                <a href="/login">
                    Login
                </a>
            </li>
            <li>
                <a href="/register">
                    Registrarse
                </a>
            </li>
        </ul>
    </nav>
    <div>
        <h1>Login your account</h1>
        <p>Are you admin? Login here</p>

        <form (submit)="handleSubmit()">
            <input  name="email" placeholder="Your Email" [(ngModel)]="admin.email"/>
            <input [(ngModel)]="admin.password" type="password" name="password" placeholder="Your Password"/>
            <button type="submit">Login</button>
        </form>

        <p>Aún no tienes cuenta? registrate <a href="/register">aqui</a></p>
        
    </div>
</main>
