h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid orange;
    border-radius: 10px;
    margin: 0 auto;
    width: 40%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 2rem;

}

form input {
    padding: 5px;
    font-size: 20px;
    outline: none;
    border: 1px solid orange;
    border-radius: 5px;
    width: 60%;
}

form button {
    padding: 1rem;
    border-radius: 5px;
    color: white;
    background-color: orange;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid white;
    cursor: pointer;
}

form button:hover {
    border: 2px solid orange;
    background-color: white;
    color: orange;
}